@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    Lorem ipsum dolor sit amet, consectetur <strong>adipiscing elit</strong>. Cras iaculis sodales risus.
    Phasellus nunc orci, tincidunt ac imperdiet ac, sollicitudin sit amet dolor. Nam molestie
    tincidunt lacus nec semper. Duis at sagittis lacus. Nam aliquam purus ante, pellentesque
    elementum lectus maximus vitae. Vestibulum tempus vehicula urna non iaculis. Nam vitae
    turpis semper, condimentum tortor et, mollis nunc. Sed quis nibh fermentum, ornare ligula
    eget, elementum justo. In eu pretium purus, eu sodales arcu.

    <br /><br />Cras dapibus malesuada mattis. Suspendisse potenti. Morbi at velit nunc. Aenean ut mollis
    tellus. Phasellus sit amet iaculis felis. Donec vitae tellus efficitur, tincidunt nisi vitae,
    lobortis massa. Pellentesque mollis quam a mauris malesuada consequat. Vivamus condimentum
    feugiat purus non maximus. Orci varius natoque penatibus et magnis dis
    <a href="https://en.wikipedia.org/wiki/Privacy_policy">parturient montes</a>,
    nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.

    <br /><br /><strong>Nam ullamcorper</strong> est quis venenatis dictum. Nulla facilisi. Donec eu feugiat lacus, eget
    tincidunt turpis. Sed faucibus ante arcu, eget commodo purus luctus nec. Aenean blandit
    rhoncus magna quis pretium. Ut vel leo et ante faucibus lacinia eget vel augue. Aliquam nec
    quam faucibus, hendrerit tortor sit amet, lacinia diam. Aenean egestas sapien eu velit
    fringilla, vitae aliquet nunc laoreet. Aenean scelerisque eros vulputate, feugiat sapien
    non, egestas mauris.

    <br /><br />Vivamus lacinia viverra viverra. Aliquam eu tortor nec tortor tincidunt volutpat. Nulla ut
    libero eget mauris consequat iaculis sit amet ut ante. Aliquam lacus libero, interdum a
    nibh non, dapibus ultricies augue. Nunc sagittis rutrum turpis vitae imperdiet. Mauris
    maximus, ex et accumsan laoreet, nunc libero feugiat mi, sed mattis erat arcu id mauris.
    Morbi vel elit eu neque placerat elementum vel sit amet purus. Mauris dolor eros, pulvinar
    vitae bibendum sit amet, mollis quis enim. Fusce ullamcorper, lorem sed vestibulum tincidunt,
    nunc ante tincidunt eros, consequat eleifend purus orci non arcu. Integer id scelerisque
    eros. In id accumsan purus. Donec pretium, nunc et ultricies cursus, ligula enim mollis eros,
    at volutpat lectus libero eget elit. Donec accumsan urna magna, quis blandit tellus egestas
    at.

    <br /><br />Class aptent taciti sociosqu <strong>ad litora torquent per conubia nostra</strong>, 
    per inceptos himenaeos. Sed vitae libero vitae dui congue vehicula. Nullam nec risus quis eros tincidunt porttitor a
    quis eros. Vivamus ut posuere dolor, ac lobortis erat. Aliquam suscipit feugiat nibh, at
    molestie tortor fringilla ac. Mauris vel ex est. Duis risus lacus, venenatis id neque sit
    amet, venenatis rutrum diam. Cras nec auctor augue. Sed hendrerit, dolor vitae viverra
    facilisis, mauris orci congue justo, in tempor dolor
    <a href="https://en.wikipedia.org/wiki/Privacy_policy">tortor ut tellus</a>. In aliquet nisl vitae
    purus sodales, in eleifend ipsum dignissim. Vivamus mattis consectetur nunc, finibus sagittis
    mauris laoreet nec. Pellentesque blandit hendrerit pellentesque. Pellentesque at mauris
    porttitor tellus venenatis interdum vitae lobortis libero. <strong>Curabitur tincidunt in erat eu
    facilisis</strong>. Maecenas in molestie ex. Aliquam convallis venenatis augue id viverra.

    <br /><br />In vitae auctor sapien, <i>eu vulputate nunc</i>!
</p>
